@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap");

// ===Mixins===
@mixin font-eng {
  font-family: "Quicksand", sans-serif;
}

@mixin font-ru {
  font-family: "Nunito", sans-serif;
}
// ===Mixins===
// Variables
$screen-sm: 575px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
// Variables

a {
  color: #828282;
  font-weight: bold;
  transition: 0.2s;
  text-decoration: none;

  &:hover {
    color: #070707;
    text-shadow: 0px 0px 6px rgba(154, 150, 150, 1);
  }
}

button {
  cursor: pointer;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.section-outer {
  padding-left: 20px;
  padding-right: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.4) inset;
  background-color: #e4e4e4;
}

::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.25) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.25) 50%,
    rgba(255, 255, 255, 0.25) 75%,
    transparent 75%,
    transparent
  );
}
